/* global fixes */

body, html {
  min-height: 100%;
  max-width: 1700px;
  margin-left: auto;
  margin-right: auto;
}

body {
  font-family: sans-serif;
  height: 100%;
  margin: 0;
}

#Wrapper {
    overflow: hidden;
}

    /*background-position: 0 0; background-repeat: no-repeat; background-color: #fff;
    background-image: url("/themes/main/images/logo.gif");*/


body header h1 {color: #fdcc33; margin-bottom: 0; padding-bottom: 0; padding-top: 12vh; line-height: 1.3;}
body header h1 {font-size: 3vw;}
body header h1 sup,
body header h1 span,
body header p {font-size: 1.5vw; }
body header p {color: #aaa; padding-bottom: 20em;}
body header p a{color: #aaa!important;}
header h1, header p {text-align: center;}

footer {
  margin-top: 200px;
  text-align: center;
  min-height: 500px;
  background-color: #fdcc33;
  text-align: left;
  padding: 20px;
  position: absolute;
  right: 0;
  left: 0;
  padding-bottom: 300px;
}
footer h3 {
    padding-bottom: 0;
    margin-bottom: 0;
    padding-top: 20px;
    margin-top: 0;

}
footer h3,
footer p{
    max-width:450px;
    margin: 0 auto 10px auto;
    color: #444!important;
    line-height: 1.5;
}
footer a {border-bottom: 1px solid #444; text-decoration: none; color: #444!important;}

#Wrapper .tfs-holder a:link,
#Wrapper .tfs-holder a:visited {
  color: #808383;
}

#Wrapper .tfs-holder .header-block {
    background-color: #555;
    border-bottom: none;
}
#Wrapper .tfs-holder .tfs-common-content-holder {
    background-color: #808383;
}


#Wrapper .tfs-holder table thead th {
    border-bottom: 2px solid #fff;
    padding: 0.7vw 0.2vw;
    background-color: #fdcc33;
    color: #777;
    text-transform: uppercase;
    font-weight: bold;
    vertical-align: bottom;
}
#Wrapper .tfs-holder table thead th a:link,
#Wrapper .tfs-holder table thead th a:visited {
    border-bottom: 1px dotted #777;
    color: #777;
}
#Wrapper .tfs-holder table thead th a.sort-desc,
#Wrapper .tfs-holder table thead th a.sort-asc {
    border-bottom: 1px solid #777;
}
.tfs-holder td span.dl {border-bottom: 1px dotted #000;}

#Wrapper .awesomplete ul * {color: #000;}
#Wrapper .awesomplete ul li[aria-selected=true], #Wrapper .awesomplete ul li[aria-selected=true] mark {color: #fff;}

.tfs-holder th a:link,
.tfs-holder th a:visited {
  border-bottom: 1px solid #777;
  text-decoration: none;
}

.tfs-holder thead th a:link,
.tfs-holder thead th a:visited {
    color: #fff;
}

.tfs-holder a.button {
  color: #000;
}

.tfs-holder td.action a {
  color: #555;
}

.tfs-holder td. a:hover {
  color: crimson;
}

.tfs-holder th[scope='col'] {
    text-align: center;

}
.tfs-holder th[scope='row'] {
    font-weight: normal;
}

.tfs-holder th[scope='row'] span[data-filter='Title'] {
  font-weight: bold;
  border-bottom: 0px;
  cursor: pointer;
}
.tfs-holder th[scope='row'] span[data-filter='Title']:before {
    width: 16px;
    content: '» ';
}
.tfs-holder tr.opened th[scope='row'] span[data-filter='Title']:before {
    content: '« ';
}
.tfs-holder th ul li,
.tfs-holder td.left ul li,
.tfs-holder td:last-child ul li {
  padding-top: 1em;
  line-height: 1;
}


.tfs-holder td h5 {
  padding: 0;
  margin: 0;
  padding-top: 1em;
}


/*th.number, td.dl-row, td.rd-row, td.nv-row {max-width: 7em!important; min-width: 7em!important; width: 7em!important;}*/
.tfs-holder tbody td.right {text-align: right;}


th.icon-col {
    width: 32px;
    padding: 0.7vw!important;
}

th.title-col {
    min-width: 150px;
    width: 20%;
}

th.description-col {
    min-width: 200px;
    width: 25%;
}

.tfs-holder .ext,
.tfs-holder .adf{
  text-decoration: none!important;
  border-bottom: none!important;
  display: block;
  height: 32px;
  width: 32px;
  opacity: 0.4;
  float: left;
  text-indent: -9999px;
  background-size: 32px;
}
.tfs-holder .adf {
    background: no-repeat url('/themes/ssu/images/heart.svg');
    background-size: contain;
}
.tfs-holder .adf:hover,
.tfs-holder tr.fav .adf{
    background: no-repeat url('/themes/ssu/images/heartRed.svg');
    background-size: contain;
}
.tfs-holder .git {
    background: no-repeat url('/themes/ssu/images/github.svg');
    background-size: contain;
}
.tfs-holder .doc {
    background: no-repeat url('/themes/ssu/images/api.svg');
    background-size: contain;
}
.tfs-holder .doc:hover {
    background: no-repeat url('/themes/ssu/images/apiBlue.svg');
    background-size: contain;
}

.tfs-holder .ext:hover,
.tfs-holder .adf:hover{
    opacity: 1;
}
.tfs-holder tr.fav .adf {
    opacity: 1;
}

.tfs-holder th ul ul,
.tfs-holder th ul ul li {display: inline;}
.tfs-holder th ul ul li {font-style: italic;}

.tfs-holder .hide {display: none!important;}
.tfs-holder li.download {display: block!important; float: left!important; padding-left: 0!important;}
.tfs-holder .favouritestocomposer {
    text-align: center;
}
.tfs-holder th span.dl-on {
    font-weight: bold!important;
}





#tfs-modal-pop-up h1 {
    background-color: #fdcc33;
}

.tfs-holder div[data-to-filter="Supports"] ul {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
}


.tfs-holder tbody th .composer-link, .tfs-holder tbody th .composer-link strong {color: crimson;}
.tfs-holder tbody th .badges {clear: left;}
.tfs-holder tbody th .badges li{display: block;}
.tfs-holder tbody th .badges li img {height: 20px;}
.tfs-holder tbody th .badges li a {text-decoration: none; border-bottom: none; font-weight: bold; color: #ccc;}
.tfs-holder span[data-filter="Supports"] {
    background-color: #aaa;
    border-radius: 20px;
    display: block;
    padding: 9px;
    float: right;
    margin-bottom: 10px;
    margin-left: 10px;
    border-bottom: none;
}
.tfs-holder div.hidden {clear: right;}

#Wrapper .tfs-holder .tfs-current-favourites {
    background-color: crimson;
    border: none;
}
#Wrapper .tfs-holder .tfs-current-favourites a {
    color: #fff;
    font-size: 17px;
    text-decoration: none;
}
#Wrapper .tfs-holder .tfs-current-favourites a u{
    color: #fff;
    font-size: 17px;
}
#Wrapper .tfs-holder .tfs-current-favourites a u:hover{
    color: gold;
}

.tfs-holder .tfs-open-filter-form a{
    opacity: 0.77;
    border-radius: 50%;
    background-image: url('data:image/svg+xml;charset=UTF-8, <svg fill="%23fdcc33" height="48" viewBox="0 0 24 24" width="48" xmlns="http://www.w3.org/2000/svg"><path d="M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z"/><path d="M0-.75h24v24H0z" fill="none"/></svg>')!important;
    background-size: contain;
    background-color: #808383;
    opacity: 1;
}
.tfs-holder .tfs-open-filter-form a:hover{

}
.filter-is-open.tfs-holder .tfs-open-filter-form a{
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
}

@media screen and (max-width: 1150px) {

    body header h1 {font-size: 4vw;}
    body header h1 sup,
    body header h1 span,
    body header p {font-size: 3vw; }

}


@media screen and (max-width: 750px) {
    td.right,
    th.number,
    th:last-child
    {
        display: none!important;
    }
    body header h1 {font-size: 20px;}
    body header h1 sup,
    body header h1 span,
    body header p {font-size: 15px; }

}

@media screen and (max-width: 450px) {
    body header h1 {font-size: 17px;}
    body header h1 sup,
    body header h1 span,
    body header p {font-size: 13px; }

    .tfs-more-entries-always-show {display: none;}
    td,
    th,
    .fixed-header table thead th
    {
        display: none!important;
    }
    th.title-col,
    tbody th {
        display: table-cell!important;
    }
    tbody th {
        padding: 10px!important;
    }
    th[scope='row']:first-child {
        background-color: #555;
    }
}
