/* global fixes */

body, html {
  min-height: 100%;
}

body {
  font-family: 'Lato', sans-serif;
  height: 100%;
  margin: 0;
}

    /*background-position: 0 0; background-repeat: no-repeat; background-color: #fff;
    background-image: url("/themes/main/images/logo.gif");*/


body header h1 {font-size: 9vw!important; color: #febf04; margin-bottom: 0; padding-bottom: 0;}
body header p {color: #aaa; padding-bottom: 5em; padding-top: 0; margin-top: 0;}
body header p a{color: #aaa!important;}
header h1, header p {text-align: center;}

footer {
  margin-top: 200px;
  text-align: center;
  min-height: 500px;
  background-color: #febf04;
  text-align: left;
  padding: 20px;
}
footer h3 {
    padding-bottom: 0;
    margin-bottom: 0;
    padding-top: 20px;
    margin-top: 0;
    color: #2980b9!important;
}
footer h3,
footer p{
    max-width:450px;
    margin: 0 auto 10px auto;
    color: #fff;
    line-height: 1.7;
}
footer a {border-bottom: 1px solid #2980b9; text-decoration: none; color: #fff!important;}

a:link, a:visited {
  color: crimson;
}

table thead th:first-child {
    width: 250px;
}
table thead th:nth-child(2) {
    width: 300px;
}
table thead th.number {
    width: 20%;
}

td span.dl {border-bottom: 1px dotted #000;}


th a:link, th a:visited {
  color: #fff;
  border-bottom: 1px solid #fff;
  text-decoration: none;
}

a.button {
  color: #fff;
}

td.action a {
  color: #555;
}

td. a:hover {
  color: crimson;
}

th[scope='col'] {
    text-align: center;

}
th[scope='row'] {
    font-weight: normal;
}

th[scope='row'] span[data-filter='Title'] {
  font-weight: bold;
  border-bottom: 0px;
  cursor: pointer;
}
th[scope='row'] span[data-filter='Title']:before {
    width: 16px;
    content: '» ';
}
tr.opened th[scope='row'] span[data-filter='Title']:before {
    content: '« ';
}
th ul li, td.left ul li {
  padding-top: 1em;
  line-height: 1.7;
}

td h5 {
  padding: 0;
  margin: 0;
  padding-top: 1em;
}


/*th.number, td.dl-row, td.rd-row, td.nv-row {max-width: 7em!important; min-width: 7em!important; width: 7em!important;}*/
tbody td.right {text-align: right;}

th .ext, th .addFav{
  text-decoration: none!important;
  border-bottom: none!important;
  display: block;
  height: 32px;
  width: 50px;
  opacity: 0.4;
  float: left;
  text-indent: -999px;
}
th .addFav {
    background: no-repeat url('/themes/ssu/images/favourite.png') 0 2px;
}
th .github {
    background: no-repeat url('/themes/ssu/images/github.png');
}
th .packagist {
    background: no-repeat url('/themes/ssu/images/packagist.png');
}
th .ext:hover, th .addFav:hover{
    opacity: 1;
}
tr.fav th .addFav {
    opacity: 1;
}

@media screen and (max-width: 750px) {
    td.right,
    th.number
    {
        display: none!important;
    }
}

@media screen and (max-width: 450px) {
    td,
    th
    {
        display: none!important;
    }
    th:first-child {
        display: table-cell!important;
    }
    th[scope='row']:first-child {
        background-color: #555;
    }
}

th ul ul,
th ul ul li {display: inline;}
th ul ul li {font-style: italic;}

.hide {display: none!important;}
li.download {display: block!important; float: left!important; padding-left: 0!important;}
.favouritestocomposer {
    text-align: center;
}
th span.dl-on {
    font-weight: bold!important;
    color: #fff!important;
    border-bottom: 1px solid #fff!important;
}

#tfs-modal-pop-up h1 {
    background-color: #febf04;
}
