@import url(http://fonts.googleapis.com/css?family=Lato);

@import url(http://fonts.googleapis.com/css?family=Voces);
/* global fixes */

body, html {
  min-height: 100%;
}

body {
  font-family: 'Lato', sans-serif;
  height: 100%;
  margin: 0;
}

    /*background-position: 0 0; background-repeat: no-repeat; background-color: #fff;
    background-image: url("/themes/main/images/logo.gif");*/


body header h1 {font-size: 9vw!important; color: #febf04; margin-bottom: 0; padding-bottom: 0;}
body header p {color: #aaa; padding-bottom: 5em; padding-top: 0; margin-top: 0;}
body header p a{color: #aaa!important;}
header h1, header p {text-align: center;}

footer {
  text-align: center;
}

a:link, a:visited {
  color: crimson;
}

td span.dl {border-bottom: 1px dotted #000;}


th a:link, th a:visited {
  color: #fff;
  border-bottom: 1px solid #fff;
  text-decoration: none;
}

a.button {
  color: #fff;
}

td.action a {
  color: #555;
}

td. a:hover {
  color: crimson;
}

th[scope='col'] {
    text-align: center;

}
th[scope='row'] {
    font-weight: normal;
}

th[scope='row'] span[data-filter='Title'] {
  font-weight: bold;
  border-bottom: 0px;
  cursor: pointer;
}
th[scope='row'] span[data-filter='Title']:before {
    width: 16px;
    content: '» ';
}
tr.opened th[scope='row'] span[data-filter='Title']:before {
    content: '« ';
}
th ul li {
  padding-top: 1em;
  line-height: 1.7;
}

td h5 {
  padding: 0;
  margin: 0;
  padding-top: 1em;
}
/*th.number, td.dl-row, td.rd-row, td.nv-row {max-width: 7em!important; min-width: 7em!important; width: 7em!important;}*/
tbody td.right {text-align: right;}

th .externalLink{
  text-decoration: none!important;
  border-bottom: none!important;
  display: block;
  height: 32px;
  width: 50px;
  opacity: 0.2;
  float: left;
  text-indent: -999px;
}
th .addFav {
    background: no-repeat url('/themes/ssu/images/favourite.png') 0 2px;
}
th .github {
    background: no-repeat url('/themes/ssu/images/github.png');
}
th .packagist {
  text-indent: -999px;
    background: no-repeat url('/themes/ssu/images/packagist.png');
}
th .externalLink:hover {
    opacity: 1;
}
tr.fav th .addFav {
    opacity: 1;
}

@media screen and (max-width: 750px) {
    td.right,
    th.number
    {
        display: none!important;
    }
}

@media screen and (max-width: 450px) {
    td,
    th
    {
        display: none!important;
    }
    th:first-child {
        display: table-cell!important;
    }
    th[scope='row']:first-child {
        background-color: #555;
    }
}

th ul ul,
th ul ul li {display: inline;}
th ul ul li {font-style: italic;}
