body {
    padding: 0;
    margin: 0;
    color: #808383;
    font-family: lato;
    background-color: #fff;
}
#LayoutHolder {
    max-width: 990px;
    padding: 2%;
    margin: 0 auto 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Voces;
    text-transform: lowercase;
}
h1 {
    font-size: calc(3.5vh + 3.5vw);
    color: #ffcc1a;
    text-align: center;
}
h1 sup {font-size: 12px; color: #838080;padding-left: 10px; }
h2 {
    padding-top: 4vh;
    font-size: calc(2.5vh + 2.5vw);
    color: #326874;
    margin-bottom: 0;
}
.topic {
    padding-top: 5vh;
}
h3 {
    margin-top: 0;
    font-size: calc(1.5vh + 1.5vw);
    color: #838080;
    margin-bottom: 0;
}

.topic h3 {
    background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" fill="%23838080" height="48" viewBox="0 0 24 24" width="48"><path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: contain;
}
.topic h3 a {
    display: block;
    border-bottom: 1px solid #ccc;
}
.topic.opened h3 {
    background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" fill="%23FF336D" height="48" viewBox="0 0 24 24" width="48"><path d="M12 8l-6 6 1.41 1.41L12 10.83l4.59 4.58L18 14z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
}

.topic.opened h3 a{
    color: #FF336D;
}
.topic.opened li, .topic.opened li a {
    color: #525050!important;
}
.pill:before {
    content: '{';
}
.pill {
    font-size: 10px;
    display: inline-block;
    padding: 0 0.5em 0 0;
}
.pill:after {
    content: '}';
}

ul {
    margin-left: 0;
    padding-left: 0;
}

li {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

li.hide {display: none;}
.topic.opened li.hide {display: list-item;}

li a {font-weight: bold;}
li a.light {font-weight: normal; border-bottom: none;}
a {
    color: #808383;
    border-bottom: 1px solid #ffcc1a;
    text-decoration: none;
}

ul, div, main, footer {
    clear: both;
}
.action-p.back-to-top {
    width: 48px;
}
.action-p a{
    display: block;
    height: 48px;
    width: 48px;
    background-size: contain;
    border-bottom: 0;
    text-indent: -9999px;
}
.action-p.back-to-top a{
    height: 24px;
    width: 24px;
}

.back-to-top a {
    background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" fill="%23838080" height="48" viewBox="0 0 24 24" width="48"><path d="M8 11h3v10h2V11h3l-4-4-4 4zM4 3v2h16V3H4z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
}
footer {
    position: absolute;
    left: 0;
    right: 0;
    background-color:#ffcc1a;
    padding: 100px  2% 200px  2%;
    margin-top: 5em;
}
footer h3,
footer p {
    max-width: 990px;
    margin: 0 auto 10px auto;
    color: #444!important;
    line-height: 1.5;
}
footer h3 {
    padding-bottom: 0;
    padding-top: 20px;
}

footer a {
    color: #444;
    text-decoration: underline;
}

#toc-topics {
    padding: 20px 40px;
    background-color: #eee;
    border-radius: 5px;
}

#toc-topics h4,
#toc-topics li,
#toc-topics a {
    color: #333;
    list-style: none;
    text-transform: lowercase;
}


@media only screen and (max-width: 700px)  {
    li {list-style: none;}
}
